@charset "urf-8";
*{
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.container{
	height: 100vh;
	width: 100vh;
	background-image: url("images/background_outline.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

}

.logo img{
	overflow: hidden;
	width: 6%;
	margin: 8% 20%;
}

.header  h1{
	font-size: 175%;
	font-weight: 100;
	text-align: center;
	margin-top: -17%; 
	
}

.header  p{
	font-size: 100%;
	font-weight: 100;
	text-align: center;
	margin-top: 10px; 
	margin-bottom: 15px;
}

.header{
	margin-left: 0%; 
	margin-top: -15%;
}
