@charset "urf-8";
*{
	margin: 0;
	padding: 0%;
	font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.container{
	height: 100vh;
	width: 100vh;
	background-image: url("images/background_outline_padding_6x9.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.logo img{
	overflow: hidden;
	width: 8%;
	margin: 5% 20%;
}

.header  h1{
	font-size: 175%;
	font-weight: 100;
	text-align: center;
	
}

.header  p{
	font-size: 100%;
	font-weight: 100;
	text-align: center;
}

.header{
	margin-left: 0%; 
	margin-top: -12%;
}

/*
.menu img{
	width: 6%;
	float: left;
	padding-left: 25%;
}
*/

.drink1{
	font-size: 90%;
	font-weight: 100;
	text-align: center;
	padding-top: 3%;
}

.drink2{
	font-size: 90%;
	font-weight: 100;
	text-align: center;
	padding-top: 2%;
}

.drink3{
	font-size: 90%;
	font-weight: 100;
	text-align: center;
	padding-top: 2%;
}

.drink4{
	font-size: 90%;
	font-weight: 100;
	text-align: center;
	padding-top: 2%;
}

.drink5{
	font-size: 90%;
	font-weight: 100;
	text-align: center;
	padding-top: 2%;
}

.drink6{
	font-size: 90%;
	font-weight: 100;
	text-align: center;
	padding-top: 2%;
}

.drink7{
	font-size: 90%;
	font-weight: 100;
	text-align: center;
	padding-top: 2%;
}

.drink8{
	font-size: 90%;
	font-weight: 100;
	text-align: center;
	padding-top: 2%;
}

.drink9{
	font-size: 90%;
	font-weight: 100;
	text-align: center;
	padding-top: 2%;
}

.drink10{
	font-size: 90%;
	font-weight: 100;
	text-align: center;
	padding-top: 2%;
}


