@charset "urf-8";
*{
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.container{
	height: 100vh;
	width: max-width;
	background-image: url("images/background_outline_5in.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.logo img{
	overflow: hidden;
	width: 50px;
	margin: 8% 20%;
}

.header  h1{
	
	font-size: 30px;
	font-weight: 100;
	text-align: center;
	margin-top: 1%; 
	margin-bottom: 15%;
}

.header  p{
	font-size: 80px;
	font-weight: 100;
	text-align: center;
	margin-top: 10%; 
	margin-bottom: 15%;
}

.header{
	margin-left: 0%; 
	margin-top: -15%;
}


